* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:fantasy, sans-serif;
}

html {
    width: 100%;
    height: 100vh;
}

.container {
    max-width: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8d7fb9;
}

.calendar {
    position: relative;
    width: 45rem;
    height: 50rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.5);
}


.month {
    width: 100%;
    height: 12rem;
    background-color: rgb(112, 33, 33);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
}

.month i { 
    font-size: 2rem;
    cursor: pointer;
}


.month h1 {
    font-size: 2rem;
    font-weight: 300;
    color: #b9b922;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.month p{
    width: 100%;
    height: 5rem;
    padding: 0 0.5rem;
}

.weekdays {
    width: 100%;
    height: 3rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 300%;
    letter-spacing: 0.1rem;
    width:calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    text-shadow: 0. .3rem .5rem rgba(0, 0, 0, 0.5);

}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem;
}

.days div {
    font-size: 1.2rem;
    margin: 0.3rem;
    width: calc(39.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    text-shadow: 0 0.3rem .5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;

}

.days div:hover:not(.today) {
    background-color: #6dad83;
    cursor: pointer;
    border: 0.4rem solid #f0f0f0;

}



.prev-date,
.next-date {
    opacity: 0.5;
}


.today {
    background-color: #a34daf;
}

footer {
    position: absolute;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    background-color: #4d0808;;
    color:#f1f1f1;
    display: flex;
    flex-direction:row;
    padding: 0 1rem;
    justify-content: space-between;
    line-height: 300%;
    bottom: -320px;
    
}