body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1e1e1e;
    padding: 1em 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    height: 100px;
}

.dogLogo {
    width: 40px;
    height: 40px;
    animation: dogBounce 2s infinite ease-in-out;
}

.right {
    display: flex;
    align-items: center;
}

.right button {
    font-size: 18px;
    font-weight: 400;
    padding: 7px 17px;
    background: blue;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    border: none;
    text-align: center;
}

.right button:hover {
    background-color: #06b5f4;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 35%;
    padding: 1.3rem;
    max-height: 400px;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 25%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

h3 {
    color: black;
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-open {
    position: absolute;
    bottom: 150px;
}

.btn-close {
    position: absolute;
    transform: translate(10px, -20px);
    padding: 5px 5px;
    background: #eee;
    border-radius: 25%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

main {
    padding: 70px 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

main .content {
    width: 750px;
    padding: 75px 0;
    margin: auto;
}

main h1 {
    font-size: 65px;
    margin-bottom: 40px;
}

main h2 {
    margin-bottom: 30px;
}

main form h6 {
    margin-bottom: 10px;
}

main form .email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 100rem; /*work on making this wider*/
}

main form .email input {
    /*input part of email address signup*/
    height: 50px;
    width: 300px;
    padding: 0 15px;
    font-size: 18px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 4px solid blue;
    outline: none;
    transition: all 0.3s ease;
}

main form .email button {
    height: 40px;
    width: 120px;
    border-radius: 25px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOV0fcAuhAfjjIf5_ggum4XflcU2HC4ovZnmnWctqzu8QUsG3FKPfp6l4pLYkksnShS34&usqp=CAU');
    color: white;
    font-weight: 900;
    font-size: 20px;
    cursor: grab;
}

main form .email button:hover {
    transform: scale(0.95);
}

main form .email button:active {
    transform: scale(0.9);
}

@keyframes dogBounce {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
}
